* {
    list-style-type: none;
}

.logo {
    display: flex; 
    float: left;
    padding-left: 121px;
    padding-top: 20px;
}

.logo__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;  
    text-align: center;
    letter-spacing: 0.05em;
    margin: 7.25px;
    display: flex;
    align-items: center;
    color: #F7F7F7;
    width: 75px;
    text-transform: uppercase;
}
header {
    height: 779px;
    width: 1440px;
    background-image: url(./header_background_fox.jpg);
}
.nav {
    width: 100%;
}

.navList {
    display: flex;
    padding-right: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav_list_UI {
    padding-right: 100px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}

.nav_list_sign_in {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
    border: 2px solid #30ba8e00;
    box-sizing: border-box;
    border-width: 20px;
    border-top: 18px;
    border-bottom: 18px;
    border-radius: 5px;
    outline: 2px solid #CD6326;
    outline-offset: 5px;
}

.text {
    color: #30ba8e00;
    font-size: 0.5px;
}
.Chapter_Survival {
    margin-top: -508px; 
    margin-left: -600px; 
    color: #CD6326;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: normal;
    font-size: 48px;
    line-height: 72px;
}

.Survival_text {
    margin-left  :-600px;
    width: 274px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7; 
}

.body {
    background-color:#02160b;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Donate_Button {
    background: #CD6326;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    padding-top: 20px;
    margin-left: -600px;
    color:#F7F7F7;
    border-width: 4px;
    border-style: solid;
    border-color: #CD6326;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}

.Donate_Button:hover {
    opacity: 0.7;
    background-color:#CD6326;
}