* 
.page_first {
    width: 100%;
    height: 800px;
    border-style: dotted;
    position: absolute;
}
.page_second {
    width: 100%;
    height: 800px;
    top: 850px;
    border-style: dotted;
    position: relative;
}
.page_third {
    width: 100%;
    height: 800px;
    top: 900px;
    border-style: dotted;
    position: relative;
}
.page_fourth {
    width: 100%;
    height: 800px;
    top: 950px;
    border-style: dotted;
    position: relative;
}
.page_fifth {
    width: 100%;
    height: 800px;
    top: 1000px;
    border-style: dotted;
    position: relative;
    overflow-y: scroll;
}

.first_box {
    border-color: red;
    border-style: solid;
    position: relative;
    top: 125px;
    left: 125px;
    width: 100px;
    height: 100px;
}
.second_box {
    border-color: purple;
    border-style: solid;
    position: relative;
    top: 125px;
    left: 125px;
    width: 100px;
    height: 100px;
}

.third_box {
    border-color: green;
    border-style: solid;
    position: relative;
    top: 125px;
    left: 125px;
    width: 100px;
    height: 100px;
}

.second_first_box {
    background-color: red;
    position: relative;
    top: 150px;
    left: 150px;
    width: 100px;
    height: 100px;
}

.second_second_box {
    background-color: purple;
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.second_third_box {
    background-color: green;
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.third_first_box {
    background-color: red;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 100px;
    height: 100px;
}

.third_second_box {
    background-color: purple;
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.third_third_box {
    background-color: green;
    position: relative;
    top: 50px; 
    left: 50px;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.bg_fourth {
    position: absolute;
    background-color: greenyellow;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.square_1 {
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 10%;
    margin-top: 10%;
}
.square_2 {
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 75%;
    margin-top: 10%;
}

.box_news {
    position: absolute;
}
.miniheader_news {
    color: white;
    background-color:yellowgreen;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    top: 0px;
    width: 100%;
    height: 125px;
    line-height: 125px;
}
.text_news {
color: black;
position: relative;
width: 100%;
font-size: 500%;
}